#note{
    @extend %page-padding;
    .note-header{
        padding-bottom : 60px;
        text-align: center;
        .title{
            margin-bottom: 0px;
        }
        .subtitle{
            font-size : 1.2rem;
        }
        .meta{
            color : $text-gray;
            font-size: 0.85rem;
            margin-top : 15px;
        }
    }
    .note-content{
        overflow: hidden;
        margin-bottom: 100px;
    }
}


.NotePageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
  }
  
  .NotePageNavigation .prev {
      float: left;
      left: 30px;
  }
  .NotePageNavigation .next {
      float: right;
      right: 30px;
  }
  .NotePageNavigation a {
    display: inline-block; 
    margin: 1em 0;
    background-color: $theme-dark-cat-note;
    color: #fff;
    border-radius: 15px;
    padding: 8px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 300px;
  }
