---
layout: page
---

<div id="notes">
  <section class="bg"></section>
  <h1 class="title">Notes on ML, DL and Algorithms</h1>

  <ul class="note-cloud">
        {% assign categories = site.notes | group_by: "category" | sort: "title" %}
        {% for category in categories %}
        <a href="#{{ category.name }}">
          <li class="note-category"
            style="background-color: rgba(86,61,124,{{ category.size | times: 100 | divided_by: categories.size | plus: 1 | divided_by: 100.0}})">
            {{ category.name }}
            <span class="meta">{{ category.size }}</span>
          </li>
        </a>
        {% endfor %}
      </ul>
  <div class="note-groups">
    {% assign categories = site.notes | group_by: "category" | sort: "title" %}
    {% for category in categories %}
    <div class="note-group">
    <h4 id="{{ category.name | cgi_escape }}" class="title">{{ category.name | cgi_escape }}</h4>
      <div class="items">
        {% assign sorted_notes = category.items | sort: "index" %}
        {% for note in sorted_notes  %}
        <a href="{{ note.url | relative_url }}" class="note-link">
          <div class="item">
            <p class="title">{{ note.index }}. {{ note.title }}</p>
            <p class="meta">Last updated on {{ note.last_modified_at  | date: "%B %-d, %Y" }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

</div>