---
layout: page
---
<div id="note">
  <section class="post-header">
    <h1 class="title">{{ page.title }}</h1>
    <p class="subtitle">{{ page.subtitle }}</p>
    <p class="meta">
      {{ page.date | date: "%B %-d, %Y" }}
    </p>
  </section>
  <section class="post-content">
    {{ content }}
  </section>
</div>

<div id="top" class="top-btn" onclick="moveTop()">
  <i class="fas fa-chevron-up"></i>
</div>

<!-- Navigation -->
{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[the_collection] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}


<div class="PageNavigation">
  {% if prevurl %}
    <a class="prev" href="{{prevurl}}">&laquo; {{prevtitle}}</a>
  {% endif %}
  {% if nexturl %}
    <a class="next" href="{{nexturl}}">{{nexttitle}} &raquo;</a>
  {% endif %}
</div>


<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div id="comments">
  <div class="border">
    {% include disqus.html %}
  </div>
</div>
{% endif %}

<!-- Footer -->
{% include footer.html %}

<script>
  var lastScrollTop = 0;
  window.onscroll = function () {
    var st = document.body.scrollTop || document.documentElement.scrollTop;
    if (st > 250) {
      document.getElementById("top").style.display = "block"
      if (st > lastScrollTop) {
        document.getElementById("top").style.opacity = 0
      } else {
        document.getElementById("top").style.opacity = 1
      }
    } else {
      document.getElementById("top").style.opacity = 0
      if (st > lastScrollTop) {
        document.getElementById("top").style.display = "none"
      }
    }
    lastScrollTop = st <= 0 ? 0 : st;
  }
  function moveTop() {
    document.body.scrollTop = 0
    document.documentElement.scrollTop = 0
  }
</script>